@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

body {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    overflow-x: hidden;
    overflow-y: hidden;
}

.login {
    margin-top: 4em;
    width: 675px;
    height: 1080px; 
    max-width: 100%;
    position: relative;
}

center {
    background: #fff;
    height: 1080px;
    padding-top: 100px;
    margin-top: -70px;
}

.login img {
    width: 10%;
}

.login span {
    color: #fff;
    background: #B2B2B2;
    width: 15px;
    height: 15px;
    text-align: center;
    border-radius: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
    cursor: pointer;

    margin-top: 5%;
    margin-left: 85%;

    font-family: 'Roboto', sans-serif;
    color: white;
    font-size: .7rem;
    font-weight: bold;
}

h2 {
    font-family: 'Poppins', sans-serif;
    font-weight: 500;
    margin-top: 50px;
}

.username input {
    border: none;
    width: 65%;
    background: #EDEDED;

    font-size: 15px;
    font-weight: bold;
    font-family: 'Poppins';
    color: #A1A1A1;

    margin-top: 20px;
    padding: 10px;
}

.socialmedia {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 20px;
}

.btn-face {
    display: flex;
    width: 20%;
    height: 40px;

    border-radius: 5%;
    background: #1877F2;

    align-items: center;
    justify-content: center;
    cursor: pointer;
}

.btn-face img {
    width: 20%;
}

.btn-google {
    display: flex;
    width: 20%;
    height: 40px;
    margin-left: 5%;

    border-radius: 5%;
    background: rgb(243, 242, 242);

    align-items: center;
    justify-content: center;
    cursor: pointer;
}

.btn-google img {
    width: 20%;
}

.btn-apple {
    display: flex;
    width: 20%;
    height: 40px;
    margin-left: 5%;

    border-radius: 5%;
    background: #000;

    align-items: center;
    justify-content: center;
    cursor: pointer;
}

.btn-apple img {
    width: 18%;
}

.checklogin {
    display: flex;
    color: #A6A1A1;
    font-family: Poppins;
    font-size: 14px;
    margin-top: 20px;
}

.checklogin input {
    margin-left: 15%;
}

.splash {
    position: absolute;
    width: 100%;
    margin-top: -90px;
}

.splash img {
    width: 100%;
}

.send-btn {
    border: 2px solid #E8E8E8;
    color: #A6A1A1;
    
    display: flex;
    align-items: center;
    justify-content: center;

    width: 100px;
    height: 100px;
    margin-top: 10px;
    border-radius: 20px;

    cursor: pointer;
}

.send-btn:hover {
    background: #D13639;
    transition: 0.5s
}

.send-btn img {
    width: 30px;
}

a {
    color: #A6A1A1;
    font-family: 'Poppins';
    font-size: 0.8em;
    font-weight: bold;

    text-decoration: none;
}